body{
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.moves {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.moves div {
    border: solid black 5px;
    border-radius: 15%;
    padding: 2rem;
}